body {
    font-family: "Helvetica Neue", Helvetica, "sans-serif";
}

#form_entry_area {
    display: table;
    margin: 5px auto 5px auto;
    border-spacing: 0;
}

.entry_label  {
    display: inline-block;
    padding: 8px 5px 8px 5px;
    margin: 5px;
    width: 250px;
}

.button {
    background-color: green;
    font-size: 1em;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-appearance: none;
}

#button_banner {
    display: table;
    margin: 0 auto
}

.bv_input  {
    display: table-cell;
    width: 250px;
    padding: 8px 5px 8px 5px;
    margin: 5px;
}

#balance_header {
    text-align: center;
}

.mv_input  {
    display: table-cell;
    width: 250px;
    padding: 8px 5px 8px 5px;
    margin: 5px;
}

.account_entry_item {
    display: table-row;
}

.account_entry_item:nth-child(odd) {
    background-color: lightsteelblue;
}

.account_entry_item:nth-child(even) {
    background-color: blanchedalmond;
}

.account_entry_item:hover {
    background-color: cadetblue;
}